<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="salle.android.projects.registertest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".controller.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activity.MainActivity"/>
        <activity android:name=".controller.activity.ListActivity"/>
        <activity android:name=".controller.activity.AdvancedListActivity"/>
        <activity android:name=".controller.activity.RegisterActivity"/>
        <activity android:name=".controller.activity.PlaylistActivity"/>
        <activity android:name=".controller.activity.ShowPlaylistActivity"/>
        <activity android:name=".controller.activity.SongActivity"/>
        <activity android:name=".controller.activity.MostrarTracksDePlaylistActivity"/>

    </application>

</manifest>